@tailwind base;
@tailwind components;

/* Write your own custom component styles here */
.tomato-box {
  border: 4px dotted tomato;
  border-radius: 4px;
  transition: all 0.5s;
}

@tailwind utilities;
